body{
    background-image: linear-gradient(#4EF6A6, #7883E9);
    font-family:Arial, Helvetica, sans-serif;
}

section.container{
    max-width: 1200px;
    text-align: center;
    margin: auto;
    padding: 90px;
    display: flex;
    justify-content: space-around;
}

div.content_left{
    padding: 35px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background-color: rgba(44, 40, 40, 0.556);
    align-self:center;
    color: whitesmoke;
}

div.content_right{
    padding-top:45px;
    padding: 35px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    align-self:center;
    color: whitesmoke;
    
}

button{
    width:100%;
    height: 60px;
    margin: 15px;
    border: 2px solid rgba(44, 40, 40, 0.556);
    border-radius: 5px;

}
a{
    text-decoration: none;
    color:whitesmoke;
    font-size: large;
}

img{
    width: 150px;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}

section.foot{
    background-color: rgba(44, 40, 40, 0.556);
    text-align: center;
    padding: 1px;
    color: whitesmoke;
    position: relative;
}
