@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Gerais */
*{
    margin: 0;
    padding: 0;
}

/* Variáveis */

:root {
    --color-01: #FBC63E;
    --color-02: #1F221F;
    --color-03: #5D6C5E;
    --color-04: #9CAC9C;
    --color-05: #F2F2F2;
}


/* Gerais */
*{
    margin:0;
    padding:0;
}

body {
    font-family: 'Kanit', sans-serif;
    color:var(--color-05); 
    background-color: var(--color-02);
    margin: auto;
    align-items: center;
}

#preload {
    background: var(--color-02) url(../img/speen.gif) no-repeat center center;
    background-size: 10%;
    margin-top: -100px;
    height: 110vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.container {
    height: 50vh;
}

h1 {
    font-size: 10vh;
    font-weight: bold;
}
p {
    font-size: 3vh;
}

/* Imagem - Perfil */
.img-container {
    text-align:center;
    margin-top:10vh;
}

.img-container img {
    width: 250px;
    border:15px solid var(--color-01);
    border-radius:50%;
}

/* Qualificação */
.qualif-container {
    text-align:center;
    margin-top:50px;
}

.qualif {
    margin: 5px;
}

/* Linha de Separação */
.line {
    width:50vh;
    background-color: var(--color-01);
    padding: 2px;
    margin: auto;
    margin-top:5px;
    border-radius:5px;
}

/* Botões - Links */
.links button {
    background-color:var(--color-01);
    border-radius:50%;
    border:none;
    width: 55px;
    height: 55px;
    margin: 15px;
} 

a {
    text-decoration:none;
}

button svg {
    align-items: center;
    color: var(--color-02);
}

button:hover {
    background-color:var(--color-03);
    transition: 0.5s;
}

button:hover svg {
    color: var(--color-01);
}

.downResume a{
    color: var(--color-05);
    transition: all .3s;
    font-size: x-small;
}

.downResume a:hover{
    color: var(--color-04);
    transition: all .3s;
}

.downResume{
    display: inline-flex;
    gap: 20px;
}

.download {
    padding-top: 1rem;
}

/* Responsivo */

@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 120vh;
    }
    body {
        margin-top: 20vh;
        align-items: center;
    }
    h1 {
        font-size: 10vh;
        font-weight: bold;
    }
    p {
        font-size: 3vh;
    }

    .img-container {
        margin-right: 5vh;
    }

    .qualif-container {
        margin-left: 5vh;
    }


}